# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Reference screenshots and mockup images
*Screenshot*
*example*.png
*example*.jpg
*example*.jpeg
*Page example*.png
*Homepage example*.png
*Footer example*.png
*Program example*.png
*Page example2*.png
